#dropdown-menu {
    width: 150px;
}

#dropdown-form {
    cursor: default;
    border-color: black;
    width: 143px;
}

#dropdown-form:focus {
    outline: none;
    border: 2px solid black;
}

#dropdown-list {
    display: flex;
    flex-direction: column;
    width: inherit;
    border: 2px solid black;
    z-index: 5;
    position: absolute;
}

.dropdown-item {
    width: inherit;
    border: 0;
    background-color: black;
    color: white;
    font-weight: 800;
    padding: 10px, 0;
}

.dropdown-item:hover {
    background: grey;
}

.dropdown-item:disabled {
    display: none;
}